<%= button_to 'Back', albums_path, method: :get %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Album Name:</strong>
  <%= @album.name %>
</p>
<%= link_to 'Edit Album Name', edit_album_path(@album), class: "btn" %>

<div id="photos">  
  <% @album.photos.each do |photo| %>  
    <div class="name"><strong>Image:</strong><%= photo.name %>
    </div>
    
   <%= link_to 'view image', album_photo_path(@album,photo)%> 
    <p>
      Tags: <%= raw photo.tag_list.map { |t| link_to t, tag_path(t)}.join(',') %>
    </p>
    
    <div class="photo">  
      <%= image_tag photo.image_url(:thumb).to_s %>  
    </div>  

  <% end %>  

  <div class="clear"></div>  
</div> 


<h2>Add a photo:</h2>
<%= form_for([@album, @album.photos.build], :html => {:multipat => true}) do |f| %>

  <p>
  	<%= f.label :name %><br>
      <%= f.text_field :name %>
  </p>


  <p>
  	<%= f.file_field :image %>
  </p>

  <p>
    <%= f.label :tag_list, "Tags( separated by commas)" %><br>
    <%= f.text_field :tag_list %>
  </p>

  <p>
      <%= f.submit %>
  </p>

<% end %>


