<%= button_to 'back', albums_path, method: :get %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>
<p>
	<%= image_tag @photo.image_url.to_s %> 
</p>

<%= link_to 'Destroy', @photo, :confirm => 'Are you sure?', :method => :delete %></td>

<h2>Comments</h2>
  <% @photo.comments.each do |comment| %>
	  <p>
	    <strong>Comment:</strong>
	    <%= comment.comment %>
	  </p>
  <% end %>


<h2>Add a comment:</h2>
<%= form_for([@photo, @photo.comments.build]) do |f| %>
  <p>
  	<%= f.label :comment %><br>
  	<%= f.text_field :comment %>
  </p>

  <p>
  	<%= f.submit %>
  </p>
  <% end %>