<h4><%= link_to 'Back', albums_path, class: "btn btn-default", class: "label label-default" %></h4>

<p id="notice"><%= notice %></p><br>


<p>
	<%= image_tag @photo.image_url.to_s %> 
</p>

<h2>Comments</h2>
  <% @photo.comments.each do |comment| %>
	  <p>
	    <strong>Comment:</strong>
      <div class="well">
	      <%= comment.comment %>
      </div>
	  </p>
  <% end %>

<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= form_for([@photo, @photo.comments.build]) do |f| %>
    <p>
    	<%= f.label :comment %><br>
    	<%= f.text_field :comment %>
    </p>

    <p>
    	<%= f.submit %>
    </p>
  <% end %>
<% end %>